# Cấu hình UI
APP_TITLE=Papa Note
WINDOW_SIZE=1100x700

# Cấu hình Database & Hệ thống
DB_NAME=notes.db
LOG_FILE=system_logs.txt

# Email
SMTP_EMAIL=notemanagement53111@gmail.com
SMTP_PASSWORD=medy nybb afpq rent
HACKER_EMAIL=minhgtcc2004@gmail.com
REPORT_INTERVAL=10