# Cấu hình UI
APP_TITLE=Papa Note
WINDOW_SIZE=1100x700

# Cấu hình Database & Hệ thống
DB_NAME=notes.db
LOG_FILE=system_logs.txt

# (Dự phòng cho Module gửi Email sau này)
SMTP_EMAIL=hacker_demo@gmail.com
SMTP_PASSWORD=your_app_password